*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI;
overflow:hidden;
background:#ffeef5;
}

.hidden{
display:none;
}

#loading{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.heart-loader{
font-size:80px;
animation:beat .8s infinite;
color:#ff3b7d;
}

@keyframes beat{

50%{
transform:scale(1.3);
}

}

#welcome{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.15);
text-align:center;
}

button{
padding:15px 35px;
border:none;
border-radius:30px;
background:#ff3b7d;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.1);
}

#scene{
height:100vh;
position:relative;
background:linear-gradient(#fff,#ffd8e9);
}

#tree{
position:absolute;
bottom:0;
left:50%;
transform:translateX(-50%);
}

#trunk{
width:35px;
height:250px;
background:#6d3d1f;
margin:auto;
border-radius:10px;
}

#branches{
position:absolute;
bottom:200px;
left:-250px;
}

.heart{
position:absolute;
font-size:18px;
animation:grow .8s forwards;
opacity:0;
}

@keyframes grow{

0%{
transform:scale(0);
opacity:0;
}

100%{
transform:scale(1);
opacity:1;
}

}

#wishBox{
position:absolute;
left:60px;
top:90px;
width:400px;
}

#wishBox h1{
color:#c2185b;
margin-bottom:20px;
}

#wishBox p{
font-size:22px;
line-height:40px;
color:#555;
}

.gallery{
display:flex;
gap:15px;
margin-top:40px;
}

.gallery img{
width:120px;
height:150px;
border-radius:15px;
object-fit:cover;
box-shadow:0 8px 20px rgba(0,0,0,.2);
transition:.4s;
}

.gallery img:hover{
transform:scale(1.1);
}